.buton
{
	background: url("./../../../../../styles/prosilver/theme/images/icons_button.png");
}

.icon
{
	box-shadow: 0px 0px 0px 1px #FFF inset;
	white-space: nowrap;
	border-radius: 4px;
	height: 9px;
	width: 9px;
	padding: 5px;
	display: inline-block;
	border: 1px solid #C7C3BF;
	background-color: #FFFFFF;
}

.stop
{
	list-style: outside none none;
	margin: 0px 0px 0px -3px;
}

.spam		{ background-position: -149px -17px; }
.em_spam	{ background-position: -161px -17px; }
.find		{ background-position: -149px 4px; }
.ip			{ background-position: -172px 4px; }
